<h1>Update Pet</h1>


<form action="/pets" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <br>
    <label>name:</label>
      <input type="text" name="pet[name]" id="pet_name">
    <br>
    <input type="submit" name="submit" value="Create pet">
</form>
